.heading-1 {
  font-weight: 700;
  color: #000;
  font-size: 78px;
  line-height: 1;
  margin-bottom: 30px;

  @media (max-width: 1139px) {
    font-size: 58px;
  }

  /* Tablet*/
  @media (max-width: 899px) {
    font-size: 42px;
  }

  /* mobile*/
  @media (max-width: 767px) {
    font-size: 32px;
  }
}

.heading-2 {
  font-size: 54px;
  font-weight: 700;
  line-height: 1.3;
  color: #000;

  @media (max-width: 1139px) {
    font-size: 42px;
  }

  /* Tablet*/
  @media (max-width: 899px) {
    font-size: 32px;
  }
}

.heading-2.grad-border {
  background-position: center bottom 8px;
  background-size: 100% 8px;

  @media (max-width: 1139px) {
    background-position: center bottom 3px;
    background-size: 100% 8px;
  }

  /* Tablet*/
  @media (max-width: 899px) {
  }
}

.heading-3 {
  color: black;
  font-size: 42px;
  line-height: 1.3;
  margin-bottom: 30px;

  @media (max-width: 1139px) {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
  }

  /* Tablet*/
  @media (max-width: 899px) {
    font-size: 24px;
  }
}

.heading-4 {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.3;
  color: #000;
  padding-bottom: 6px;

  @media (max-width: 1139px) {
    font-weight: 600;
    font-size: 24px;
  }

  /* Tablet*/
  @media (max-width: 899px) {
    font-size: 18px;
  }
}

.heading-4:hover,
.heading-4:active,
.heading-4:focus {
  color: #ff543e;
  transition: 0.3s;
}
